<div style="height: 100%">
  <div style="display: flex">
    <showcase-product-list
      style="width: 33%; display: block; height: 60vh; overflow: scroll"
    ></showcase-product-list>
    <showcase-product-details
      style="width: 33%; display: block; height: 60vh"
    ></showcase-product-details>
    <showcase-cart
      style="width: 33%; display: block; height: 60vh; overflow: scroll"
    ></showcase-cart>
  </div>
  <showcase-log
    style="display: flow; height: 40vh; overflow: scroll"
  ></showcase-log>
</div>
